<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crushed Monkey</title>

<!--    StyleSheets-->
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>

<body>

<div id="header" style="height:40vh; width:100%; align-content: start; text-align: start">
<h6 style="padding-top:5%; padding-left: 5%; color:#484848; font-size:23px"><b>Photon Labs</b></h6>
    <a style="color: #646161; padding-left: 5%;">a computer science journal</a>

    <h6 style="text-align: end; color: #545454; padding-right: 5%; padding-top:80px">Special Thanks to Github Pages</h6>
</div>

</body>
</html>