<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crushed Monkey</title>

<!--    StyleSheets-->
<!--    <link th:href="@{/styles/main.css}" type="text/css" rel="stylesheet" />-->
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>

<div id="header" style="height:35vh; width:100%; align-content: start; text-align: start; background-color:#2d2d2d; margin:0;!important;">
    <h6 style="text-align: center ;font-size:60px; display:flex;justify-content:center; align-items:center; color:floralwhite; padding-top:7vh">CRUSHED</h6>
    <a style="text-align: center ;font-size:60px; display:flex;justify-content:center; align-items:center; color:floralwhite;">MONKEY</a>
</div>

<nav class="flex-container">
    <div class="flex-item navitem" style="padding-left: 5%; padding-right:5%"><b> Reviews </b></div>
    <div class="flex-item navitem" style="padding-left: 5%; padding-right:5%"><b> Game Design</b></div>
    <div class="flex-item navitem" style="padding-left: 5%; padding-right:5%"><b> Collectable Culture </b></div>
</nav>

</body>
</html>