* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: inherit;
    vertical-align: inherit;

}

nav {
    display: flex;
    justify-content: center;
    border-bottom:1px solid;
    border-color:#333333;
    position: relative;
    width: 100%;
    z-index:50000;
    color: #ffffff;
    padding-top:2px;
    padding-bottom:2px;

}

navitem{
    padding-left: 5%;
    padding-right:5%
}

body {
    font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    margin-left: 0px;
    margin-right: 0px;
    margin-top:0px;
    margin-bottom: 0px;
    background-color:black;
    border : none; !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
}
